.webdev {
    margin: 0 auto;
    max-width: 70%;
    min-width: 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.webdev .project-card {
    width: 15rem;
    outline: 10px solid rgb(46, 46, 46);
    border-radius: 5%;
    text-align: center;
    margin: 2rem;
    background-color: rgba(96, 34, 178, 0.481);
}

.webdev .project-info {
    width: 100%;
    margin: 1.25rem 0;
    display: grid;
    align-items: center;
}

.webdev img {
    width: 100%;
    border-radius: 5%;
}

.webdev iframe {
    width: 100%;
    /* scale: .9; */
    /* zoom: 0.75; */
    border: none;
    overflow: hidden;
}   